@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
	margin: 0;
}
header{
	width: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 5;
	box-shadow: 0 0 .5em #000000;
}
header .left{
	display: flex;
	align-items: center;
	justify-content: center;
}
header .left img{
	width: 3em;
	padding: 0 1em;
}
header .right{
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .right .btn{
	font-size: 1.5em;
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: .2em solid #e67e22;
	transition: all .4s;
}
header .right .btn:hover{
	background: #dfe6e9;
}
header .right .btn a{
	text-decoration: none;
	padding: .5em 1.5em;
	color: #000000;
	font-family: 'Noto Serif', cursive;
}
nav{
	width: 100%;
	background-attachment: fixed;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-image: url("https://images.pexels.com/photos/313700/pexels-photo-313700.jpeg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
nav.second{
	background-image: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg");
}
nav .middle{
	font-family: cursive;
	text-shadow: 0 0 .5em #000000;
	text-align: center;
}
nav h1.middle{
	color: #ffffff;
	font-size: 3em;
}
nav h2.middle{
	color: #b7b7b7;
	font-size: 1.7em;
}
.form{
	width: 40%;
    background: #ffffff;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: 0 0 .4em #000000;
    margin: 5em 0 1em 0;
}
.form form{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.form form h1, .form form h2, section .poster_desc h1, section .poster_desc h2{
	font-family: 'Noto Serif';
	text-align: center;
}
.form form .input{
	width: 100%;
	height: 2em;
    outline: none;
    border: none;
    border-bottom: 0.2em solid #e67e22;
    background: #ededed;
    margin-bottom: 2em;
}
.form form label{
	font-family: sans-serif;
}
.form form a{
	text-decoration: none;
	color: #e67e22;
	font-family: monospace;
}
.form form .button, section .button, .review .button {
	padding: .5em 1em;
	background: #e67e22;
	border: none;
	border-radius: .4em;
	color: #ffffff;
	cursor: pointer;
}
section{
	width: 100%;
	background: #ffffff;
	display: flex;
	/*justify-content: center;*/
	flex-wrap: wrap;
}
.gallery{
	width: 50%;
	height: 100vh;
}
.gallery.photo{
	background: #e67e22;
}
.gallery.photo img{
	width: 100%;
	height: 100%;
	transition: all .5s;
}
.gallery.photo:hover img{
	transform: scale(.9);
	border-radius: .8em;
}
.gallery.description{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5em;
	font-family: sans-serif;
}
.gallery.description p{
	margin: 0 1em;
}
section .poster{
	width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.5em;
    margin: 1em;
    border-radius: 0.4em;
}
section .poster_img{
	height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	background: #e67e22;
}
section .poster_img img{
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
	width: 100%;
	height: 100%;
	transition: .4s;
}
section .poster_img:hover img{
	transform: scale(.9);
	border-radius: .5em;
}
section .poster_desc{
	width: 100%;
    text-align: center;
    padding: .2em;
}
section a{
	text-decoration: none;
	color: #ffffff;
}
section .poster_desc h1{
	font-size: 1.5em;
}
section .poster_desc p{
	font-family: monospace;
}
.reviews{
	width: 90%;
}
.review{
	padding: 1em;
	margin: 1em 0;
	background: #ffffff;
	border-radius: .4em;
	box-shadow: 0 0 .2em #000000;
}
.review h1, .review h2{
	font-family: 'Noto Serif';
}
.review p {
	font-family: sans-serif;
}
.review h2{
	font-size: 1em;
	color: #606060;
}
.review form{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.review form .input{
	width: 70%;
    height: 2em;
    outline: none;
    border: none;
    border-bottom: 0.2em solid #e67e22;
    background: #ededed;
}